<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- services -->
	<!-- NoticeDao noticeDao = new MyBatisNoticeDao();//
		
		NoticeConsole console = new NoticeConsole();
		console.setNoticeDao(noticeDao) -->
    <!-- <bean id="noticeDao" class="com.newlecture.web.dao.mybatis.MyBatisNoticeDao"></bean> -->
     
     <context:annotation-config/>
     <bean id="noticeDao" class="com.newlecture.web.HiNoticeDao"></bean>
     <bean id="console" class="com.newlecture.web.NoticeConsole"><!-- 값이면 value reference라고하면 ref -->
     	<!-- <property name="noticeDao" ref="noticeDao"></property> -->   
     </bean>

     
     
    <!-- more bean definitions for services go here -->

</beans>